// -------------------------------------
// Settings
// -------------------------------------


$v-textfield-default-theme: true !default;


// Textfield
// -------------------------------------

$v-textfield-spacing:       20px;

$v-textfield-color-info:      #2196F3 !default;
$v-textfield-color-success:   #4CAF50 !default;
$v-textfield-color-error:     #F44336 !default;

$v-textfield-font-size-small:   0.707em !default;
$v-textfield-hint-font-style:   italic !default;
$v-textfield-hint-color:        #757575 !default;

$v-textfield-border-radius:   2px !default;

$v-textfield-transitions-duration:  0.25s !default;

