// -------------------------------------
// Settings
// -------------------------------------


$textfield-default-theme: true !default;


// Textfield
// -------------------------------------

$textfield-color-info:    #2196F3 !default;
$textfield-color-success: #4CAF50 !default;
$textfield-color-error:   #F44336 !default;

$textfield-hint-font-size:  0.707em !default;
$textfield-hint-font-style: italic !default;
$textfield-hint-color:      #757575 !default;

$textfield-messages-font-size:    0.707em !default;
$textfield-messages-line-height:  1.4em !default;

$textfield-transitions-duration:  0.25s !default;

